<main>
      <section>
            <div class="p-5">
                <!--  <div class="float-end">
                        <img src="../../../assets/img/characterpng.png" alt="Personaje de Lineage 2" class="img-fluid mx-auto d-block" id="imagenrelativa">
                  </div> -->
                  <div class="col-md-6 px-0 text__margin text-white">
                        <h1 class="display-5 font-lilita">L2Name</h1>
                        <p class="lead my-3 fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi esse magni consequatur cupiditate quos eligendi deserunt quo iste nulla, voluptates, itaque cumque sequi? Voluptatem voluptas, vero rerum aperiam vitae molestias.</p>
                        <a routerLink="/registro"><button class="btn btn-primary">REGISTRO</button></a>
                        <a routerLink="/files"><button class="btn btn-primary mx-1">FILES</button></a>
                  </div>
            </div>
      </section>
</main>
