@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.font_lilita {
      font-family: 'Lilita One', cursive;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.7);
}

.font_person {
      font-family: H77, Arial;
} 

.lead {
      color: lightblue;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.7);
}

.text__margin {
      margin: 150px 0px;
}

#imagenrelativa {
      height: 500px;
      width: 370px;
}

.btn {
      cursor: url(../../../assets/img/cursores/cursorl2help.cur), pointer;
}