<main>
      <section class="vh-100">
            <div class="p-5">
                <!--  <div class="float-end">
                        <img src="../../../assets/img/characterpng.png" alt="Personaje de Lineage 2" class="img-fluid mx-auto d-block" id="imagenrelativa">
                  </div> -->
                  <div class="col-md-6 px-0 text__margin text-white">
                        <h1 class="display-5 font_person">L2Name</h1>
                        <p class="lead my-3 fs-5 font_person">Servidor Interlude Main-class, Custom.<br>Mid-Rates <i>(Exp: x20, Sp: x20, Drop: x1).</i></p>
                        <a routerLink="/registro"><button class="btn btn-dark"><fa-icon [icon]="faFacebook" style="margin-right: 5px;"></fa-icon>FANPAGE</button></a>
                        <a routerLink="/files"><button class="btn btn-dark mx-1"><fa-icon [icon]="faWhatsapp" style="margin-right: 5px;"></fa-icon>WHATSAPP</button></a>
                  </div>
            </div>
      </section>
</main>
