<nav class="barranav navbar navbar-expand-lg nav-masthead bg-transparent">
      <div class="container-fluid">
        <a href="" class="navbar-brand fw-bold">
          <p class="fs-3" style="margin: 0;">L2Name</p>          
          <!--<img src="#" alt="Logotipo del Server/Nombre del Server" width="100px">-->
        </a>
        <div class="nav" id="navbarNav">
          <ul class="nav">
            <li class="nav-item">
              <a 
                  class="nav-link box" 
                  routerLinkActive="active-link"
                  routerLink="/inicio"
                  [routerLinkActiveOptions]="{exact: true}">INICIO
              </a>
            </li>
            <li class="nav-item">
              <a
                  class="nav-link box"
                  routerLinkActive="active-link"
                  routerLink="/info"
                  [routerLinkActiveOptions]="{exact: true}">INFO
              </a>
            </li>
            <li class="nav-item">
              <a 
                  class="nav-link box" 
                  routerLinkActive="active-link"
                  routerLink="/files"
                  [routerLinkActiveOptions]="{exact: true}">FILES
              </a>
            </li>
            <li class="nav-item">
              <a 
                  class="nav-link box" 
                  routerLinkActive="active-link"
                  routerLink="/donaciones"
                  [routerLinkActiveOptions]="{exact: true}">DONAR
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link box" href="http://127.0.0.1/icp/">Panel</a>
            </li>
          </ul>
        </div>
      </div>
</nav>