<nav class="barranav navbar navbar-expand-lg nav-masthead">
      <div class="container-fluid">
        <a href="" class="navbar-brand fw-bold">
          <p class="fs-3" style="margin: 0;">L2Name</p>          
          <!--<img src="#" alt="Logotipo del Server/Nombre del Server" width="100px">-->
        </a>
        <div class="nav" id="navbarNav">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link box" routerLink="/inicio">INICIO</a></li>
            <li class="nav-item"><a class="nav-link box" routerLink="/info">INFO</a></li>
            <li class="nav-item"><a class="nav-link box" routerLink="/registro">REGISTRO</a></li>
            <li class="nav-item"><a class="nav-link box" routerLink="/files">FILES</a></li>
            <li class="nav-item"><a class="nav-link box" routerLink="/donaciones">DONAR</a></li>
            <li class="nav-item"><a class="nav-link box" routerLink="/contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
</nav>