<main>
      <section class="container-fluid">
            <div class="m-5 text-white text-center">
                  <h1>Panel</h1>
                  <p><i>- Registro, Recuperar e Cambiar contraseña</i></p>
            </div>
            <div class="row">
                  <div class="col-md">
                        <h2>Registro</h2>
                  </div>
                  <div class="col-md">
                        <h2>Recuperar</h2>
                  </div>
                  <div class="col-md">
                        <h2>Cambiar<br>contraseña</h2>
                  </div>
            </div>
      </section>
</main>