<main class="text-light" style="background-color: #8d866c85;">
      <section class="container-fluid" style="padding-bottom: 25px;">
            <div class="row">
                  <div class="px-2 py-2">
                        <h1 class="text-center">ARCHIVOS[FILES]</h1>
                  </div>
                  <!-- CLIENTE -->

                  <div class="col-md">
                        <h2 class="fs-3 text-center decorator_subtitle">Cliente</h2>
                        <hr class="hr">
                        <div>
                              <p class="mx_perso text-center">Interlude [Limpio]</p>
                              <div class="button">
                                    <div class="button-wrapper">
                                      <div class="text"><img src="../../../assets/img/filesicons/igdrive.png" style="max-width: 24px; max-height: 24px;">Google Drive</div>
                                          <a href="https://youtube.com" target="_blank">
                                                <span class="icon">
                                                      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" height="2em" width="2em" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none"></path></svg>
                                                </span>
                                          </a>
                                      </div>
                              </div>
                              <div class="button my-3">
                                    <div class="button-wrapper">
                                      <div class="text"><img src="../../../assets/img/filesicons/imedia.svg" style="max-width: 24px; max-height: 24px;">Mediafire</div>
                                          <a href="https://youtube.com" target="_blank">
                                                <span class="icon">
                                                      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" height="2em" width="2em" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none"></path></svg>
                                                </span>
                                          </a>
                                      </div>
                              </div>
                        </div>
                  </div>

                  <!-- PARCHE -->

                  <div class="col-md">
                        <h2 class="fs-3 text-center decorator_subtitle">PARCHE</h2>
                        <hr class="hr">
                        <div>
                              <p class="mx_perso text-center">PARCHE [Por: GDrive o Mediafire]</p>
                              <div class="button">
                                    <div class="button-wrapper">
                                      <div class="text"><img src="../../../assets/img/filesicons/igdrive.png" style="max-width: 24px; max-height: 24px;">Google Drive</div>
                                          <a href="https://youtube.com" target="_blank">
                                                <span class="icon">
                                                      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" height="2em" width="2em" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none"></path></svg>
                                                </span>
                                          </a>
                                      </div>
                              </div>
                              <div class="button my-3">
                                    <div class="button-wrapper">
                                      <div class="text"><img src="../../../assets/img/filesicons/imedia.svg" style="max-width: 24px; max-height: 24px;">Mediafire</div>
                                          <a href="https://youtube.com" target="_blank">
                                                <span class="icon">
                                                      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" height="2em" width="2em" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none"></path></svg>
                                                </span>
                                          </a>
                                      </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="p-2 text-center bg-dark" style="margin-top: 25px; margin-left: 50px; margin-right: 50px;">
                  <h1>NOTA:</h1>
                  <p class="mx_perso decorator_subtitle">Si no sabe instalar el cliente de 'Lineage 2' le dejo un link directo para ver como se instala: <a href="https://www.youtube.com/watch?v=m0Qtd7k6PWo&ab_channel=Mardelo" target="_blank" rel="noopener noreferrer">VIDEO</a>, Creditos del video a 'Mardelo'.<br>
                  Recuerda que si ya tienes el Cliente de L2 instalado, solo debes de bajar el Parche y pegarlo en la carpeta raiz del juego!.</p>
                  <i>- Suerte!</i>
            </div>
      </section>
</main>