<main>
      <section class="vh-100">
            <div class="container__2">
                  <div class="container_terminal"></div>
                  <div class="terminal_toolbar">
                      <div class="butt">
                          <button class="btn2 btn-color2"></button>
                          <button class="btn2"></button>
                          <button class="btn2"></button>
                      </div>
                      <p class="user">panel@admin: ~ user: l2name.db</p>
                  </div>
                  <div class="terminal_body">
                      <div class="terminal_promt">
                          <span class="terminal_user">panel@admin:</span>
                          <span class="terminal_location">~</span>
                          <span class="terminal_bling">$ start %windir%\donates.php "L2Name\Donates"</span>
                          <span class="terminal_cursor"></span>
                      </div>
                      <div class="parent">
                        <div class="container_terminal">
                              <div class="terminal_toolbar">
                                    <div class="butt">
                                          <button class="btn2"></button>
                                          <button class="btn2 btn-color2"></button>
                                          <button class="btn2"></button>
                                    </div>
                                    <p class="user head_bar">L2Name Donaciones<fa-icon [icon]="faX" class="float-end x_mark"></fa-icon></p>
                              </div>
                              <div class="terminal_body">
                                    <div class="terminal_search">
                                          <span class="refresh_bar" style="color: white;"><fa-icon [icon]="faArrowLeft" style="margin-right: 3px;"></fa-icon></span>
                                          <span class="refresh_bar" style="color: rgb(172, 154, 154);"><fa-icon [icon]="faArrowRight" style="margin-right: 3px;"></fa-icon></span>
                                          <span class="refresh_bar"><fa-icon [icon]="faRotate" style="margin-right: 3px;"></fa-icon></span>
                                          <div class="input_search">
                                                <p><fa-icon class="lock_icon" [icon]="faLock"></fa-icon>L2Name.com.ar/donaciones.php</p>
                                          </div>
                                          <span class="refresh_bar ellipsis"><fa-icon [icon]="faEllipsisVertical"></fa-icon></span>
                                    </div>
                                    <h4 class="text-center text-white my-3 font_fakepage">DONACIONES</h4>
                                    <div class="page_body text-white">
                                          <div class="page_card text-center font_fakepage">
                                                <h5 class="my-2">NOTA:</h5>
                                                <p class="fs-5">El servidor cuenta con sistema de donaciones automatico, pero las donaciones se realizan mediante el <a href="http://127.0.0.1/icp" target="_blank" class="a_decor2">Panel</a> o <a href="https://whatsapp.com" class="a_decor">Whatsapp</a> mediante transferencia.</p>
                                                <p style="font-family: Arial, Helvetica, sans-serif;"><i>- Se esta trabajando en un sistema de donaciones automaticas.</i></p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                      </div>
                  </div>
              </div>
      </section>
</main>