<main class="text-white">
      <section>
            <div class="px-2">
                  <h1 class="text-center">INFORMACIÓN</h1>
            </div>
            <div class="parent" style="background: url(../../../assets/img/character_human.png);">

                  <!-- INFO GENERAL -->

                  <div class="div1">
                        <h2 class="fs-3 text-center">General</h2>
                        <hr class="hr">
                        <div>
                              <p class="mx_perso">Server Rates</p>
                              <ul class="mx-4">
                                    <li><img src="https://linedia.ru/w/images/e/eb/Etc_exp_point_i00_0.jpg">EXP/SP: x50</li>
                                    <li><img src="../../../assets/img/infoicons/pickup.png">Drop: x1</li>
                                    <li><img src="https://linedia.ru/w/images/7/71/Adena.jpg">Adena: x1</li>
                                    <li><img src="https://linedia.ru/w/images/4/42/Skill0302_0.jpg">Spoil: x1</li>
                                    <li><img src="https://linedia.ru/w/images/2/2a/Etc_pouch_brown_i00_0.jpg">Drop/Spoil Mats: x1</li>
                              </ul>
                              <p class="mx_perso">Enchants</p>
                              <ul class="mx-4">
                                    <li><img src="https://linedia.ru/icons/etc_scroll_of_enchant_weapon_i05_0.bmp">Safe Enchant: +3</li>
                                    <li><img src="https://linedia.ru/icons/etc_blessed_scrl_of_ench_wp_s_i05_0.bmp">Max Enchant: +16</li>
                              </ul>
                              <p class="mx_perso">Raid Boss</p>
                              <ul class="mx-4">
                                    <li><img src="https://linedia.ru/w/images/1/17/Skill4111_0.jpg">Raid Boss EXP/SP: x1</li>
                                    <li><img src="https://linedia.ru/w/images/5/5d/Skill5861_0.jpg">Epic Boss Drop: x1</li>
                              </ul>
                        </div>
                  </div>

                  <!-- INFO ADICIONAL -->

                  <div class="div2">
                        <h2 class="fs-3 text-center">Adicional</h2>
                        <hr class="hr">
                        <div>
                              <p class="mx_perso">Npc habilitados [Custom]</p>
                              <ul class="mx-4">
                                    <li><img src="https://linedia.ru/icons/etc_scroll_white_i00_0.bmp">Buffer</li>
                                    <li><img src="https://linedia.ru/w/images/9/90/Etc_paper_white_i00_0.jpg">Clan</li>
                                    <li><img src="https://linedia.ru/icons/skill4299_0.bmp">Raid Info</li>
                                    <li><img src="https://linedia.ru/icons/armor_t89_ul_i00_0.bmp">GM Shop</li>
                                    <li><img src="https://linedia.ru/w/images/c/cb/Armor_t98_u_i00_0.jpg">Shop Custom</li>
                                    <li><img src="https://linedia.ru/w/images/4/40/Etc_quest_subclass_reward_i00_0.jpg">Reset: Sub Class</li>
                              </ul>
                              <p class="mx_perso">Class</p>
                              <ul class="mx-4">
                                    <li><img src="https://linedia.ru/w/images/c/c0/Etc_letter_envelope_i00_0.jpg">1st Class Transfer: Gratis</li>
                                    <li><img src="https://linedia.ru/w/images/5/5a/Etc_piece_of_paper_white_i00_0.jpg">2nd Class Transfer: Gratis</li>
                                    <li><img src="https://linedia.ru/w/images/e/e7/Etc_resonance_amulet_i00_0.jpg">3rd Class Transfer: Gratis</li>
                                    <li><img src="https://linedia.ru/icons/etc_spell_books_element_i00_0.bmp">Auto-learn skills</li>
                              </ul>
                              <p class="mx_perso">Others</p>
                              <ul class="mx-4">
                                    <li><img src="https://linedia.ru/w/images/4/4a/Skill1204_0.jpg">Buff Slots: 24</li>
                                    <li><img src="../../../assets/img/infoicons/pickup.png">Auto pickUp: (Todo menos Raids)</li>
                              </ul>
                        </div>
                  </div>

                  <!-- INFO RESPAWN RAIDS -->

                  <div class="div3">
                        <h2 class="fs-3 text-center">Respawn Raids</h2>
                        <hr class="hr">
                        <p class="mx_perso">Raid Boss</p>
                        <ul class="mx-4">
                              <li><img src="http://l2j.ru/img/icons/etc_raid_c_i00.png">All-Raids Boss Respawn: Retail</li>
                        </ul>
                        <p class="mx_perso">Epic Boss</p>
                        <ul class="mx-4">
                              <li><img src="https://linedia.ru/icons/accessory_necklace_of_valakas_i00_0.bmp">Valakas Respawn: Retail</li>
                              <li><img src="https://linedia.ru/w/images/7/76/Accessory_necklace_of_frintessa_i00_0.jpg">Frintezza's Respawn: Retail</li>
                              <li><img src="https://linedia.ru/icons/accessory_earring_of_antaras_i00_0.bmp">Antharas Respawn: Retail</li>
                              <li><img src="https://linedia.ru/icons/accessory_earring_of_zaken_i00_0.bmp">Zaken Respawn: Retail</li>
                              <li><img src="https://linedia.ru/icons/accessory_earring_of_orfen_i00_0.bmp">Orfen Respawn: Retail</li>
                              <li><img src="https://linedia.ru/icons/accessory_ring_of_baium_i00_0.bmp">Baium Respawn: Retail</li>
                              <li><img src="https://linedia.ru/icons/accessory_ring_of_queen_ant_i00_0.bmp">Queen Ant Respawn: Retail</li>
                              <li><img src="https://linedia.ru/icons/accessory_ring_of_core_i00_0.bmp">Core Respawn: Retail</li>
                        </ul>
                  </div>
            </div>
      </section>
</main>