.row {
      -webkit-box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
      -moz-box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
      box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
      background-color: hsla(0, 0%, 0%, 0.500);
}

ul {
      list-style: none;
}

li {
      color: orange;
      font-weight: bold;
}

li img {
      margin-top: 2px;
      margin-right: 5px;
}

hr {
      margin: 10px;
}

p {
      font-family: H77, Arial;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 21px;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.63);
}

.decorator_subtitle {
      font-family: H77, Arial;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 27px;
      color: orange;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.63);
}

.fs-3 {
      margin-top: 10px;
      text-shadow: 1px 1px rgb(255, 255, 255 / 30%);
}

h1 {
      font-family: H77, Arial;
      font-weight: bold;
      text-transform: uppercase;
}

.mx_perso {
      margin-left: 80px;
      margin-right: 80px;
}

.fs-2 {
      font-family: H77, Arial;
      font-weight: bold;
      text-transform: uppercase;
}